
#grid{
  display:grid;
  grid-template-columns:200px 2fr 1fr;
}
body{
  margin:0;
}
  a{
    text-decoration:none;
    color:black;
  }
  h1{
    font-size:45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20px;
  }
  ol{
    border-right:gray solid 1px;
    width:100px;
    margin:0;
    padding:30px;
    margin-left:15px;

  }

  @media(max-width:1000px){
    #grid{
      display:block;
    }
    #grid ol{
      border:none;
    }
    h1{
      border:none;
    }
    div{
      margin:20px;
    }
  }
